<div class="view-menu">
    <div class="view-menu-header">Views for {{ type_label }}</div>
    {% for rtype, spec_list in grouped_specs.items() %}
    <div class="view-menu-group">
        <div class="view-menu-group-label">{{ rtype | title }}</div>
        {% for spec in spec_list %}
        <a class="view-menu-item"
           href="#"
           onclick="openViewTab('{{ spec.spec_iri }}', '{{ spec.label }}', '{{ rtype }}'); return false;">
            <span class="view-menu-icon">
                {% if rtype == 'table' %}&#9638;{% elif rtype == 'card' %}&#9641;{% elif rtype == 'graph' %}&#9672;{% else %}&#9654;{% endif %}
            </span>
            <span class="view-menu-label">{{ spec.label }}</span>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
    {% if not grouped_specs %}
    <div class="view-menu-empty">No views available for this type.</div>
    {% endif %}
</div>
