{% extends "base.html" %}

{% block title %}Import Obsidian Vault{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/import.css">
{% endblock %}

{% block content %}
<div id="import-container">
    {% set current_step = 1 %}
    {% if scan_result %}
        {% set current_step = 2 %}
    {% elif has_extract %}
        {% set current_step = 2 %}
    {% endif %}
    {% include "obsidian/partials/step_bar.html" %}
    <div id="import-content">
        {% if scan_result %}
            {% include "obsidian/partials/scan_results.html" %}
        {% elif has_extract %}
            {% include "obsidian/partials/scan_trigger.html" %}
        {% else %}
            {% include "obsidian/partials/upload_form.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}
